.fs-12 {
  font-size: 12px; }

.fs-14 {
  font-size: 14px; }

.fs-16 {
  font-size: 16px; }

.fs-18 {
  font-size: 18px; }

.fs-20 {
  font-size: 20px; }

.p-6 {
  padding: 6px; }

.pl-6 {
  padding-left: 6px; }

.pr-6 {
  padding-right: 6px; }

.pt-6 {
  padding-top: 6px; }

.pb-6 {
  padding-bottom: 6px; }

.plr-6 {
  padding-left: 6px;
  padding-right: 6px; }

.ptb-6 {
  padding-top: 6px;
  padding-bottom: 6px; }

.m-6 {
  margin: 6px; }

.ml-6 {
  margin-left: 6px; }

.mr-6 {
  margin-right: 6px; }

.mt-6 {
  margin-top: 6px; }

.mb-6 {
  margin-bottom: 6px; }

.mlr-6 {
  margin-left: 6px;
  margin-right: 6px; }

.mtb-6 {
  margin-top: 6px;
  margin-bottom: 6px; }

.p-12 {
  padding: 12px; }

.pl-12 {
  padding-left: 12px; }

.pr-12 {
  padding-right: 12px; }

.pt-12 {
  padding-top: 12px; }

.pb-12 {
  padding-bottom: 12px; }

.plr-12 {
  padding-left: 12px;
  padding-right: 12px; }

.ptb-12 {
  padding-top: 12px;
  padding-bottom: 12px; }

.m-12 {
  margin: 12px; }

.ml-12 {
  margin-left: 12px; }

.mr-12 {
  margin-right: 12px; }

.mt-12 {
  margin-top: 12px; }

.mb-12 {
  margin-bottom: 12px; }

.mlr-12 {
  margin-left: 12px;
  margin-right: 12px; }

.mtb-12 {
  margin-top: 12px;
  margin-bottom: 12px; }

.p-24 {
  padding: 24px; }

.pl-24 {
  padding-left: 24px; }

.pr-24 {
  padding-right: 24px; }

.pt-24 {
  padding-top: 24px; }

.pb-24 {
  padding-bottom: 24px; }

.plr-24 {
  padding-left: 24px;
  padding-right: 24px; }

.ptb-24 {
  padding-top: 24px;
  padding-bottom: 24px; }

.m-24 {
  margin: 24px; }

.ml-24 {
  margin-left: 24px; }

.mr-24 {
  margin-right: 24px; }

.mt-24 {
  margin-top: 24px; }

.mb-24 {
  margin-bottom: 24px; }

.mlr-24 {
  margin-left: 24px;
  margin-right: 24px; }

.mtb-24 {
  margin-top: 24px;
  margin-bottom: 24px; }

.p-48 {
  padding: 48px; }

.pl-48 {
  padding-left: 48px; }

.pr-48 {
  padding-right: 48px; }

.pt-48 {
  padding-top: 48px; }

.pb-48 {
  padding-bottom: 48px; }

.plr-48 {
  padding-left: 48px;
  padding-right: 48px; }

.ptb-48 {
  padding-top: 48px;
  padding-bottom: 48px; }

.m-48 {
  margin: 48px; }

.ml-48 {
  margin-left: 48px; }

.mr-48 {
  margin-right: 48px; }

.mt-48 {
  margin-top: 48px; }

.mb-48 {
  margin-bottom: 48px; }

.mlr-48 {
  margin-left: 48px;
  margin-right: 48px; }

.mtb-48 {
  margin-top: 48px;
  margin-bottom: 48px; }

.p-96 {
  padding: 96px; }

.pl-96 {
  padding-left: 96px; }

.pr-96 {
  padding-right: 96px; }

.pt-96 {
  padding-top: 96px; }

.pb-96 {
  padding-bottom: 96px; }

.plr-96 {
  padding-left: 96px;
  padding-right: 96px; }

.ptb-96 {
  padding-top: 96px;
  padding-bottom: 96px; }

.m-96 {
  margin: 96px; }

.ml-96 {
  margin-left: 96px; }

.mr-96 {
  margin-right: 96px; }

.mt-96 {
  margin-top: 96px; }

.mb-96 {
  margin-bottom: 96px; }

.mlr-96 {
  margin-left: 96px;
  margin-right: 96px; }

.mtb-96 {
  margin-top: 96px;
  margin-bottom: 96px; }

.ta-l {
  text-align: left; }

.ta-r {
  text-align: right; }

.ta-c {
  text-align: center; }

.fw-b {
  font-weight: bold; }
